.git*
.DS_Store
.dockerignore
.eslintignore
.prettierignore
.prettierrc.json
.travis.yml
jest.config.js
localhost*
Dockerfile*
docker*
devHttps.js
hardhat.config.js
skaffold*
.eslintrc
.idea
k8s
.husky
_templates
node_modules
.env*
gc-service-account*
gcs-service-account*
clouddns-dns01-solver-service-account*
dev.api.project.com.pem
dev.api.project.com-key.pem
.npmrc*
localhost*
